<p id="notice"><%= notice %></p>

<h2>Your Parcel</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
  <% for item in @parcel.trade_items %>
      <tr>
        <td><%= item.quantity %></td>
        <td><%= item.product.title %></td>
        <td><%= item.product.trade_value %></td>
      </tr>
  <% end %>
</table>
<br/>
Total Credit: <%= number_to_currency( @parcel.total_price, :unit => '&euro;') %><br/>
<br/>
<ul>
  <%= button_to 'Empty parcel', @parcel, :method => :delete, :confirm => 'Are you sure?' %>
</ul>


<%= link_to 'Edit', edit_parcel_path(@parcel) %> |
<%= link_to 'Back', parcel_path %>
