<p id="notice"><%= notice %></p>

<h2>Your Wish List</h2>

<table>
  <tr>
    <th>Quantity</th>
    <th>Title</th>
    <th>Price</th>
    <th>Add to Cart</th>
  </tr>

  <% for item in @wish_list.list_items %>
      <tr>
        <td><%= item.quantity %></td>
        <td><%= item.product.title %></td>
        <td><%= item.product.price %></td>
        <td><%= button_to "Yes", line_items_path(:product_id => item.product) %></td>
      </tr>

  <% end %>
</table>

<br/>
<ul>
  <%= button_to 'Remove from list', @wish_list, :method => :delete, :confirm => 'Are you sure?' %>
  <%= button_to 'Continue shopping', store_url %>

</ul>
