<%= form_for(@trade_item) do |f| %>
  <% if @trade_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trade_item.errors.count, "error") %> prohibited this trade_item from being saved:</h2>

      <ul>
      <% @trade_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :parcel_id %><br />
    <%= f.number_field :parcel_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
