<h1>Listing trade_items</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Parcel</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trade_items.each do |trade_item| %>
  <tr>
    <td><%= trade_item.product_id %></td>
    <td><%= trade_item.parcel_id %></td>
    <td><%= link_to 'Show', trade_item %></td>
    <td><%= link_to 'Edit', edit_trade_item_path(trade_item) %></td>
    <td><%= link_to 'Destroy', trade_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trade item', new_trade_item_path %>
