<% if notice %>
    <p id="notice"><%=  notice %></p>
<% end %>

<h1>Trade-in Centre</h1>
<div id="latest">
  <%= image_tag("far-cry-3-1.jpg") %>
  <div class="pictxt">
    <p>We want your games and you want credit</p>
  </div>
</div>

<%=  form_tag '', :method => 'get' do %>
    <p>
      <%=  text_field_tag :search, params[:search] %>
      <%=  submit_tag "Search", :title => nil %>
    </p>
<% end %>
<table>

  <% @products.each do |product| %>

      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= image_tag(product.image_url, class: 'list_image_url') %></td>
        <td class="list_overview">
          <dl>
            <dt><%= link_to product.title, product %></dt>
            <dd><%= truncate(strip_tags(product.description), length: 200) %></dd>
          </dl>
        </td>
        <td><%= number_to_currency(product.trade_value * product.price, :unit =>'&euro;') %></td>



        <td class="list_actions">
          <%= link_to 'Show', product %><br/>
          <%= button_to "Add to Parcel", trade_items_path(:product_id => product) %>
        </td>
      </tr>
  <% end %>
</table>
