<!DOCTYPE html>
<html>
<head>
  <title>GameStore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

<div id="banner">
    <%= image_tag("Xbox-360.jpg") %>
    <br />
    <%= @page_title || "XGAMES" %>
    <br />
    <br />

  <div id='header'>
    <% if logged_in? %>
        <%= current_user.email %> |
        <%= link_to "Your Cart", :controller => "carts", :action => "your_cart" %> |
        <%= link_to "Logout", logout_path %> |
    <% else %>
        <%= link_to "Login", login_path %>  |
        <%= link_to "Create User", new_user_path %>

    <% end %>
    </div>

</div>

<div id="breadcrumbs">
  <div id="side">
    <br />
    <br />
    <br />
    <br />
  <ul>
  <li><%= link_to "Home", :controller => "welcome", :action => "home" %></li>
  <li><%= link_to "Product Catalogue", products_path %></li>
  <li><%= link_to "Leave Site", :controller => "welcome",:action => "thank_you" %></li>
  <li><%= link_to "Register", :controller => "welcome",:action  => "register" %></li>
  </ul>
  </div>




<div id="main">

<%= yield %>

</div>
</div>

</body>
</html>
