<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>GameStore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

<div id="banner">
    <%= image_tag("Xbox-360.jpg") %>
    <br />
    <%= @page_title || "XGAMES" %>
    <br />
    <br />

  <div id='header'>
    <% if logged_in? %>
        <%= current_user.email %> |
        <%= link_to "Your Cart", :controller => "carts", :action => "your_cart" %> |
        <%= link_to "Logout", logout_path %> |
    <% else %>
        <%= form_tag sessions_path do %>
            <div class="field">
                    <%= label_tag :email %>
                    <%= text_field_tag :email %>
                    <%=  label_tag :password %>
                    <%=  password_field_tag :password %>
                    <%= submit_tag 'Login' %><br />
            </div>

    <% end %>
    <% end %>
    </div>

</div>

<div id="breadcrumbs">
  <div id="side">
    <br />
    <br />
    <br />
    <br />
  <ul>
  <li><%= link_to "Home", store_url %></li>
  <li><%= link_to "Product Catalogue", products_path %></li>
  <li><%= link_to "Sport Games", :controller => "store", :action => "sports" %></li>
  <li><%= link_to "Kinect", :controller => "store", :action => "kinect" %></li>
  <li><%= link_to "Action/Shootem' Ups", :controller => "store", :action => "action" %></li>
  <li><%= link_to "Driving", :controller => "store", :action => "driving" %></li>
  <li><%= link_to "Family", :controller => "store", :action => "family" %></li>
  <li><%= link_to "Hardware & Accessories", :controller => "store", :action => "hardware" %></li>
  <li><%= link_to "Leave Site", :controller => "welcome",:action => "thank_you" %></li>
  <li><%= link_to "Register", :controller => "welcome",:action  => "register" %></li>
  </ul>
  </div>




<div id="main">

<%= yield %>

</div>
</div>


</body>
</html>
